@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url(/images/pexels-brett-sayles-1431822.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  backdrop-filter: blur(10px);
  background-color: #ffffff98;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherCard {
  padding: 12px;
  height: 460px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city__input__field {
  display: flex;
  width: 100%;
  padding: 15px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.city__input__field #CityInput {
  width: 70%;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.city__input__field #CityInput::placeholder {
  color: rgb(63, 63, 255);
  font-weight: 450;
  opacity: 0.5;
}

.city__input__field #SearchButton {
  padding: 5px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(63, 63, 255);
}

.city__input__field #SearchButton i {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(63, 63, 255);
}

.image {
  width: 80%;
  height: 190px;
}

.image img {
  width: 100%;
  height: 100%;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.weatherInfo h3 span {
    color: rgb(63, 63, 255);
    text-decoration: underline;
}
